* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Roboto", sans-serif;
    overflow: scroll;
}

#headerLogo {
    font-weight: bold;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D1DAE3;
    padding: 20px 130px;
}

ul {
    display: flex;
    gap: 16PX;
    list-style-type: none;
}

#heroTitle {
    font-size: 48px;
    font-weight: 900;
}

.content1 {
    background-color: #D1DAE3;
    margin: 0;
    display: flex;
    gap: 40px;
    padding: 130px ;
}

.content1 p {
    font-size: 18px;
}

.content1 img {
    width: 500px;
    height: 250px;
    object-fit: contain;
}

.content2 {
    background-color: #140A00;
    margin: 0;
    color: #D1DAE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px ;
}

.content3 {
    background-color: #282112;
    color: #D1DAE3;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
}

#quoter {
    font-weight: bold;
    text-align: end;
}

.quoteSpace {
    max-width: 600px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 80px;
    
}

.card {
    text-align: center;
    max-width: 150px;
    color: #D1DAE3;
}

.card img {
    border: solid 5px #5091ED;
    border-radius: 15px;
}

.footer {
    background-color: #140A00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 120px;
}

.footersTab {
    background-color: #5091ED;
    border-radius: 10px;
    display: flex;
    padding: 30px 70px;
    gap: 100px;
}

.footersTab button {
    border: solid 2px;
}

#call-to-action-p {
    font-weight: bold;
}

#signup-p {
    font-weight: lighter;
}

.signup-btn {
    background-color: #5091ED;
    padding: 8px 35px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    margin-top: 10px;
}